#!/bin/bash

#git
alias d="git diff"
alias t="tig"
alias ts="tig status"
alias dc="git diff --cached"
alias m="git commit -m"
alias s="git status -s -u -b"
alias c="git checkout"
alias a="git add --all"
alias r="git reset"
alias b="git branch "
alias v="av"
alias av="git branch -a -v "
alias vv="git branch -vv"

#alias s="sh $HOME/bin/gs"
#alias dc="sh $HOME/bin/gdc"
# alias gdw="git diff --word-diff"
# alias gdf="git diff"
alias gsf="git submodule foreach"
alias gap="git add -p"
alias gai="git add -i"
# alias gdc="git diff --cached"
alias gco="git checkout"
alias gci="git commit"
alias gl="git log"
alias gls="git log --stat"
alias glp="git log -p"
#alias l="git log --graph --all --format='%C(cyan) %p %Cred %h %C(white) %s %Cgreen(%cr)%C(cyan) <%an>%C(bold yellow)%d%Creset' --since=yesterday"
alias ltoday="git log --graph --all --format='%C(cyan) %p %Cred %h %C(white) %s %Cgreen(%cr)%C(cyan) <%an>%C(bold yellow)%d%Creset' --since=today"
alias lall="git log --graph --all --format='%C(cyan) %p %Cred %h %C(white) %s %Cgreen(%cr)%C(cyan) <%an>%C(bold yellow)%d%Creset'"
alias gcmam="git commit --amend -m" 
alias sr="git remote show origin"
alias sb="git show-branch --all"
alias ref="git log --graph --all --simplify-by-decoration --pretty=format:'%C(bold yellow)%d %Cred %h %C(white) %s %Cgreen(%cr)%C(cyan) <%an>%Creset' "

#alias gs=$HOME/bin/gs

alias sms="git submodule summary"
alias smu="git submodule update"
alias smi="git submodule update --init"
alias smr="git submodule update --remote"

alias gss="git stash save -u"
alias gsc="git stash clear"
alias gsp="git stash pop"
alias gsa="git stash apply"
alias gsl="git stash list"

alias gpush="git push"
alias gpull="git pull"

alias garzip="git archive --format=zip HEAD -o /tmp/gitarchived.zip"

alias where="command -v"
alias j="jobs -l"
alias du="du -h"
alias df="df -h"
#alias su="su -l"

# global aliases
#alias -g T="| tee"
alias -g G="| grep"
#alias -g L="|& $PAGER"
alias -g WC="| wc"
alias -g LC="| wc -l"
alias -g Z="| tail"
alias -g L="| less"
alias -g V="| lv"
alias -g H='| head'
alias -g S='| sort'
alias -g W='| wc'
alias -g X='| xargs'

alias -g ..="../"
alias -g ...="../../"

alias -g O='origin'
alias -g M='master'
alias -g OM='origin master'

# some more ls aliases
alias l='ls -CF'
alias ll='ls -alF'
alias la='ls -A'
alias lf="ls -F"

alias lv="lv -lc"

alias screen="screen -U"
#alias gls="git ls-files"
#alias grep="grep --color"
#alias lt='ls -AltrF'
#alias hi='history 1'
alias vi='vim'
alias vim='vim'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -p'

alias -g B='`git branch | peco --prompt "GIT BRANCH>" | head -n 1 | sed -e "s/^\*\s*//g"`'
#alias -g LR='`git branch -a | peco --query "remotes/ " --prompt "GIT REMOT BRANCH>" | head -n 1 | sed "s/^\*\s*//" | sed "s/remotes\/[^\/]*\/\(\S*\)/\1 \0/"`'
#alias -g D='`echo S | sed "s/\([0-9a-f]*\)/\1..\1^/" | xargs git diff --name-only | peco --prompt "GIT DIFF FILE>" | head -n 1 | sed "s/^\(\S*\).*/\1/"`'
alias glga="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all"
alias  glg="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"


#dotfiles and sources
alias lbr="vim $HOME/.dotfiles/.bashrc.local"
alias lvr="vim $HOME/.dotfiles/.vimrc.local"
alias lzr="vim $HOME/.dotfiles/.zshrc.local"
alias dbr="vim $HOME/dotfiles/.bashrc"
alias dvr="vim $HOME/dotfiles/.vimrc"
alias dzr="vim $HOME/dotfiles/.zshrc"

alias vr="vim ~/.vimrc"
alias br="vim ~/.bashrc"
alias zr="vim ~/.zshrc"
alias alr="vim $HOME/dotfiles/.aliases"
alias scr="vim ~/.screenrc"

alias svr="source ~/.vimrc"
alias sbr="source ~/.bashrc"
alias szr="source ~/.zshrc"

alias vdupdate="vim $HOME/dotfiles/bin/dots_update.sh"
alias vdinit="vim $HOME/dotfiles/bin/dots_init.sh"

alias dotfiles_update="sh $HOME/dotfiles/bin/dots_update.sh"
alias dop="dotfiles_update"
alias dotfiles_init="sh $HOME/dotfiles/bin/dots_init.sh"
alias cdot="cd $HOME/dotfiles"




#might be local
alias ap="cd /as"

#for mac
alias bd="brew doctor"
alias bl="brew list"
alias bu="brew update"
alias bi="brew install"
